.container {
  padding: 30px;
}

.column_header {
  font-size: 1.1rem;
  font-weight: bold;
}

h2 {
  color: rgb(25, 131, 222);
}

.key-column {
  width: 50%; /* or whatever width you prefer */
  max-width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
